.navigation {
  display: flex;
  justify-content: center;
  width: 100%;

  ul {
    display: flex;

    li {
      margin-right: 1rem;
      list-style-type: none;

      a {
        text-decoration: none;
        color: white;
        padding: .5rem;
      }
    }
  }
}