<!-- <form [formGroup]="contactForm" (submit)="onSubmit()">

  <div class="contact-update">
    <div class="contact-update__contact-data">
      <div class="contact-update__field">
        <mat-form-field>
          <mat-label>Име</mat-label>
          <input required matInput formControlName="fullName" type="name" autocomplete="off">
        </mat-form-field>
      </div>

      <div class="contact-update__field">
        <mat-form-field>
          <mat-label>Телефон</mat-label>
          <input required matInput formControlName="phoneNumber" type="phone" autocomplete="off">
        </mat-form-field>
      </div>

      <div class="contact-update__field">
        <mat-form-field>
          <mat-label>Интерес</mat-label>
          <mat-select formControlName="type">
            <mat-option *ngFor="let type of (contactTypeEnum | enumToArray)" [value]="type">
              {{ contactTypeEnum[type] }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="contact-update__field">
        <mat-form-field>
          <mat-label>Местоположение</mat-label>
          <mat-select 
            required
            formControlName="city"
            (selectionChange)="setRegion($event)">
            <mat-option
              *ngFor="let city of (cities$ | async)"
              [value]="city.id">
              {{ city.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="contact-update__field">
        <mat-form-field>
          <mat-label>Район</mat-label>
          <mat-select required formControlName="region">
            <mat-option 
              *ngFor="let region of (regions$ | async)"
              [value]="region.id">
              {{ region.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="contact-update__field">
        <mat-form-field>
          <mat-label>Бюджет</mat-label>
          <input required matInput formControlName="budget" type="number" [min]="1" autocomplete="off">
        </mat-form-field>
      </div>

      <div class="estate-create__field additional-info">
        <mat-form-field>
          <mat-label>Допълнителна информация</mat-label>
          <textarea matInput formControlName="additionalInfo"></textarea>
        </mat-form-field>
      </div>
    </div>

    <div class="actions">
      <button type="submit" 
              [disabled]="contactForm.invalid"
              mat-raised-button color="primary">Редактирай</button>
    </div>
  </div>
</form> -->

<div>
  <h1>В процес на разработка</h1>
</div>